@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", "san-serif";
  background-color: black;
}

.main-container {
  width: 600px;
  margin: 100px auto;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header #search-box {
  margin-right: 10px;
}

.header #search-box {
  width: 80%;
  border: none;
  outline: none;
  border: 1px solid #fcf;
  height: 2.5rem;
  border-radius: 5px;
}

.main-container #myDropdown {
  display: none;
  justify-self: center;
  flex-direction: column;
  align-self: center;
  width: 10%;
  font-size: 0.8rem;
  z-index: 1000;
}

.main-container #myDropdown div {
  border-bottom: 1px solid #fcf;
  text-align: center;
  margin-bottom: 2px;
}

.main-container .lang:hover,
.main-container #myDropdown div:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.movie:hover {
  cursor: pointer;
}

.movies-con .movies {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

.movie {
  margin: 2rem 0;
  width: 450px;
  border-bottom: 1px solid #fcf;
  margin: 10px auto;
  max-height: 600px;
  overflow: hidden;
}

.movies-con .movies .movie .movie-info .movie-data {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.movies-con .movies .movie .movie-info .movie-data p {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  width: 30%;
  display: flex;
  align-self: flex-start;
}

.movies-con .movies .movie {
  background-color: #fcf;
  border-radius: 10px;
}

.movie img {
  height: 90%;
}

.movie .movie-info {
  height: 10%;
}

.show-movie {
  display: none;
  padding: 1rem;
  color: grey;
  width: 50%;
  z-index: 100000;
  margin: 100px 25%;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fcf;
}

.show-movie .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-movie .header i {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.blur {
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

@media (max-width: 762px) {
  .main-container {
    width: 100%;
  }
  .show-movie {
    width: 90%;
    margin: 100px 2.5%;
  }

  .movie {
    margin: 10px auto;
    width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .show-movie {
    width: 70%;
    margin: 100px 15%;
  }
  .movie {
    width: 500px;
  }
}

.movies-con .movies .movie {
  position: relative;
}

.movie .movie-text {
  background-color: #fff;
  display: flex;
  width: 90%;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  transform: translateY(200%);
  transition: transform 0.3s ease-in;
}

.movie:hover .movie-text {
  position: absolute;
  background-color: #fff;
  transform: translateY(-100%);
}

#genre-ids {
  display: flex;
  align-self: center;
  flex-direction: column;
}
